body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#card {
    width: 900px;
    height: 180px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 230px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#card img {
    border: 2px solid;
    border-radius: 10px;
    margin: 20px;
    width:300px;
    height: auto;
}

#card h1 {
    font-size: 24px;
    color: #333;
    margin: 30px 0 10px; /* Added margin-bottom */
    text-align: center;
}

#card h5 {
    margin: 0 0 20px; /* Added margin-top and margin-bottom */
    font-size: 16px;
    color: #666;
    text-align: center;
}

.but {
    text-align: center;
    margin: 20px;
    margin-bottom: 30px;
}

.but button {
    padding: 10px 20px;
    background-color: #EC2526;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.but button:hover {
    background-color: #c21f20;
}
#htc
{
    display:flex;
    flex-direction: column;
    align-items: center;
}